# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Gradle
.gradle
**/android/gradlew
**/android/gradlew.bat

# Flutter/Dart/Pub
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Local configuration file (user-specific)
config.json

# Hive / Generated
**/*.g.dart
**/*.freezed.dart
